.night {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #001d3d;
  overflow: hidden;
  transition: all 2s ease;
}

body {
  overflow: hidden;
  transition: all 2s ease;
}

.moon {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 50%;
  box-shadow: inset 90px 0 0 -50px #ffd166, 0 0 20px #ffd166;
  animation: moon 2s cubic-bezier(0.65, 0.4, 0.73, 0.33) infinite alternate;
  position: relative;
  transition: all 2s ease;
}

@keyframes moon {
  from {
    box-shadow: inset 90px 0 0 -50px #ffd166, 0 0 20px #ffd166;
  }
  to {
    box-shadow: inset 90px 0 0 -50px #ffd166, 0 0 35px #ffd166;
  }
}

.star_1,
.star_2,
.star_3,
.star_4,
.star_5,
.star_6,
.star_7,
.star_8,
.star_9,
.star_10,
.star_11,
.star_12,
.star_13,
.star_14,
.star_15,
.star_16,
.star_17,
.star_18,
.star_19,
.star_20,
.star_21,
.star_22,
.star_23,
.star_24,
.star_25,
.star_26,
.star_27,
.star_28,
.star_29,
.star_30 {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #eee;
  position: absolute;
  border-radius: 50%;
  animation: stars 1s linear infinite alternate;
  transition: all 2s ease;
}

@keyframes stars {
  from {
    box-shadow: 0 0 10px #eee;
  }
  to {
    box-shadow: 0 0 17px #ccc;
  }
}

.star_1 {
  top: 100px;
  right: 10px;
}

.star_2 {
  top: 65px;
  right: 40px;
}

.star_3 {
  top: 120px;
  right: 90px;
}

.star_4 {
  top: 30px;
  right: 140px;
  background-color: rgba(255, 255, 255, 0.8);
}

.star_5 {
  top: 70px;
  right: 90px;
}

.star_6 {
  top: 25px;
  right: 750px;
}

.star_7 {
  top: 60px;
  right: 400px;
}

.star_8 {
  top: 100px;
  right: 250px;
}

.star_9 {
  top: 125px;
  right: 390px;
}

.star_10 {
  top: 150px;
  right: 190px;
  background-color: rgba(255, 255, 255, 0.8) #eee;
}

.star_11 {
  top: 70px;
  right: 330px;
}

.star_12 {
  top: 250px;
  right: 60px;
}

.star_13 {
  top: 230px;
  right: 280px;
}

.star_14 {
  top: 220px;
  right: 140px;
  background-color: rgba(255, 255, 255, 0.8);
}

.star_15 {
  top: 200px;
  right: 450px;
}

.star_16 {
  top: 170px;
  right: 350px;
}

.star_17 {
  top: 180px;
  right: auto;
}

.star_18 {
  top: 25px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.star_19 {
  top: 85px;
  left: 80px;
}

.star_20 {
  top: 50px;
  left: 140px;
}

.star_21 {
  top: 30px;
  left: 160px;
}

.star_22 {
  top: 80px;
  left: 180px;
}

.star_23 {
  top: 130px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.star_24 {
  top: 140px;
  left: 130px;
}

.star_25 {
  top: 150px;
  left: 240px;
}

.star_26 {
  top: 70px;
  left: 260px;
}

.star_27 {
  top: 130px;
  left: 350px;
}

.star_28 {
  top: 170px;
  left: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

.star_29 {
  top: 100px;
  left: 400px;
}

.star_30 {
  top: 50px;
  left: 390px;
  background-color: rgba(255, 255, 255, 0.8);
}

.smal_star_1,
.smal_star_2,
.smal_star_3,
.smal_star_4,
.smal_star_5,
.smal_star_6,
.smal_star_7,
.smal_star_8,
.smal_star_9,
.smal_star_10,
.smal_star_11,
.smal_star_12,
.smal_star_13,
.smal_star_14,
.smal_star_15,
.smal_star_16,
.smal_star_17,
.smal_star_18,
.smal_star_19,
.smal_star_20,
.smal_star_21,
.smal_star_22,
.smal_star_23,
.smal_star_24,
.smal_star_25,
.smal_star_26,
.smal_star_27,
.smal_star_28,
.smal_star_29,
.smal_star_30,
.smal_star_31,
.smal_star_32,
.smal_star_33,
.smal_star_34,
.smal_star_35,
.smal_star_36,
.smal_star_37,
.smal_star_38,
.smal_star_39,
.smal_star_40,
.smal_star_41,
.smal_star_42,
.smal_star_43,
.smal_star_44,
.smal_star_45,
.smal_star_46,
.smal_star_47,
.smal_star_48,
.smal_star_49,
.smal_star_50,
.smal_star_51,
.smal_star_52,
.smal_star_53,
.smal_star_54,
.smal_star_55,
.smal_star_56,
.smal_star_57,
.smal_star_58,
.smal_star_59,
.smal_star_60 {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f5fdb0;
  box-shadow: 0 0 10px #f5fdb0;
  animation: small_stars 1s linear infinite alternate;
  transition: all 2s ease;
}

@keyframes small_stars {
  from {
    box-shadow: 0 0 10px #f5fdb0;
  }
  to {
    box-shadow: 0 0 19px #222;
  }
}

.smal_star_1 {
  top: 40px;
  right: 50px;
}

.smal_star_2 {
  top: 80px;
  right: 150px;
}

.smal_star_3 {
  top: 20px;
  right: 200px;
}

.smal_star_4 {
  top: 60px;
  right: 200px;
}

.smal_star_5 {
  top: 40px;
  right: 260px;
}

.smal_star_6 {
  top: 40px;
  right: 350px;
}

.smal_star_7 {
  top: 120px;
  right: 50px;
}

.smal_star_8 {
  top: 140px;
  right: 50px;
}

.smal_star_9 {
  top: 160px;
  right: 55px;
}

.smal_star_10 {
  top: 120px;
  right: 150px;
}

.smal_star_11 {
  top: 190px;
  right: 170px;
}

.smal_star_12 {
  top: 210px;
  right: 80px;
}

.smal_star_13 {
  top: 140px;
  right: 250px;
}

.smal_star_14 {
  top: 120px;
  right: 220px;
}

.smal_star_15 {
  top: 100px;
  right: 300px;
}

.smal_star_16 {
  top: 180px;
  right: 300px;
}

.smal_star_17 {
  top: 180px;
  right: 220px;
}

.smal_star_18 {
  top: 220px;
  right: 350px;
}

.smal_star_19 {
  top: 120px;
  right: 350px;
}

.smal_star_20 {
  top: 20px;
  right: 400px;
}

.smal_star_21 {
  top: 30px;
  right: 430px;
}

.smal_star_22 {
  top: 20px;
  right: 300px;
}

.smal_star_23 {
  top: 230px;
  right: 200px;
}

.smal_star_24 {
  top: 190px;
  right: 410px;
}

.smal_star_25 {
  top: 120px;
  right: 440px;
}

.smal_star_26 {
  top: 100px;
  right: 450px;
}

.smal_star_27 {
  top: 160px;
  right: 470px;
}

.smal_star_28 {
  top: 40px;
  left: 50px;
}

.smal_star_29 {
  top: 60px;
  left: 70px;
}

.smal_star_30 {
  top: 40px;
  left: 50px;
}

.smal_star_31 {
  top: 70px;
  left: 20px;
}

.smal_star_32 {
  top: 100px;
  left: 60px;
}

.smal_star_33 {
  top: 170px;
  left: 50px;
}

.smal_star_34 {
  top: 150px;
  left: 90px;
}

.smal_star_35 {
  top: 110px;
  left: 120px;
}

.smal_star_36 {
  top: 40px;
  left: 120px;
}

.smal_star_37 {
  top: 30px;
  left: 210px;
}

.smal_star_38 {
  top: 50px;
  left: 180px;
}

.smal_star_39 {
  top: 60px;
  left: 250px;
}

.smal_star_40 {
  top: 90px;
  left: 150px;
}

.smal_star_41 {
  top: 130px;
  left: 160px;
}

.smal_star_42 {
  top: 150px;
  left: 200px;
}

.smal_star_43 {
  top: 140px;
  left: 220px;
}

.smal_star_44 {
  top: 100px;
  left: 230px;
}

.smal_star_45 {
  top: 110px;
  left: 270px;
}

.smal_star_46 {
  top: 130px;
  left: 300px;
}

.smal_star_47 {
  top: 180px;
  left: 320px;
}

.smal_star_48 {
  top: 150px;
  left: 360px;
}

.smal_star_49 {
  top: 100px;
  left: 350px;
}

.smal_star_50 {
  top: 100px;
  left: 310px;
}

.smal_star_51 {
  top: 70px;
  left: 290px;
}

.smal_star_52 {
  top: 50px;
  left: 330px;
}

.smal_star_53 {
  top: 160px;
  left: 290px;
}

.smal_star_54 {
  top: 20px;
  left: 400px;
}

.smal_star_55 {
  top: 30px;
  left: 410px;
}

.smal_star_56 {
  top: 70px;
  left: 430px;
}

.smal_star_57 {
  top: 150px;
  left: 430px;
}

.smal_star_58 {
  top: 190px;
  left: 450px;
}

.smal_star_59 {
  top: 120px;
  left: 440px;
}

.smal_star_60 {
  top: 30px;
  left: 470px;
}

.comet {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fdb827;
  filter: blur(1px);
  top: 290px;
  left: 100px;
  box-shadow: -10px 0 10px #ffd166, -20px 0 10px #ffd166, -30px 0 10px #ffd166,
    -40px 0 10px #ffd166, -50px 0 10px #ffd166, -60px 0 10px #ffd166,
    -70px 0 10px #ffd166, -80px 0 10px #ffd166, -90px 0 10px #ffd166,
    -100px 0 10px #ffd166;
  animation: comet 2s ease-in 1;
  transform: translateX(-300px);
}

@keyframes comet {
  from {
    transform: translateX(-300px);
    top: 290px;
    box-shadow: -10px 0 10px #ffd166, -20px 0 10px #ffd166, -30px 0 10px #ffd166,
      -40px 0 10px #ffd166, -50px 0 10px #ffd166, -60px 0 10px #ffd166,
      -70px 0 10px #ffd166, -80px 0 10px #ffd166, -90px 0 10px #ffd166,
      -100px 0 10px #ffd166;
  }
  to {
    transform: translateX(1100px);
    top: 150px;
    box-shadow: -10px 0 10px #ffd166, -20px 0 10px #ffd166, -30px 0 10px #ffd166,
      -40px 0 10px #ffd166, -50px 0 10px #ffd166, -60px 0 10px #ffd166,
      -70px 0 10px #ffd166, -80px 0 10px #ffd166, -90px 0 10px #ffd166,
      -100px 0 30px #ffd166;
  }
}

.cloud_1,
.cloud_2,
.cloud_3,
.cloud_4 {
  position: absolute;
  width: 200px;
}

.cloud_1 {
  top: 250px;
  right: 100px;
}
.cloud_2 {
  top: 220px;
  right: 370px;
}
.cloud_3 {
  top: 50px;
  right: 300px;
  opacity: 0.7;
  animation: move_cloud_1 3s ease-in-out infinite alternate;
}
.cloud_4 {
  top: 70px;
  left: 310px;
  opacity: 0.7;
  animation: move_cloud_2 3s ease-in-out infinite alternate;
}

@keyframes move_cloud_1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes move_cloud_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

body:hover .night {
  background-color: #2fa4ff;
}

body:hover .moon {
  box-shadow: unset;
  background-color: #ffd166;
}

body:hover .sm_st {
  opacity: 0;
}

body:hover .med_st {
  opacity: 0;
}
